absl-py 
aiohttp 
aiosignal 
alabaster 
anaconda-client 
anyio 
appdirs==1.4.4
argh==0.26.2
argon2-cffi 
arrow==0.13.1
asn1crypto 
astor==0.8.1
astroid 
astropy 
astunparse==1.6.3
async-generator 
async-timeout 
atomicwrites==1.4.0
attrs 
Automat
autopep8
Babel 
backcall 
backports.functools-lru-cache 
backports.shutil-get-terminal-size 
backports.tempfile 
backports.weakref==1.0.post1
bcrypt 
beautifulsoup4 
binaryornot 
bitarray 
bkcharts
black==19.10b0
bleach 
blinker==1.4
blis 
bokeh 
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools 
catalogue 
certifi==2021.10.8
cffi  
chardet  
charset-normalizer  
chromedriver-autoinstaller==0.2.2
click  
cloudpickle  
colorama  
commonmark==0.9.1
comtypes==1.1.10 
constantly==15.1.0
contextlib2  
cookiecutter  
cryptography  
cssselect==1.1.0
cycler==0.10.0
cymem  
Cython  
cytoolz==0.11.0
daal4py==2021.3.0
dask==2021.10.0
debugpy  
decorator  
defusedxml  
diff-match-patch  
distributed  
docutils  
efficientnet==1.0.0
entrypoints==0.3
et-xmlfile==1.1.0
eventregistry==8.10
fastcache==1.1.0
filelock  
flake8  
Flask   
Flask-BasicAuth==0.2.0
flatbuffers==2.0
fonttools==4.25.0
frozenlist  
fsspec  
future==0.18.2
gast  
gevent  
glob2  
gmpy2==2.0.8
google-auth  
google-auth-oauthlib  
google-pasta  
graphviz==0.19.1
greenlet  
grpcio==1.34.1
h5py==3.1.0
HeapDict  
html5lib  
huggingface-hub==0.0.19
hyperlink  
idna  
image-classifiers==1.0.0
imagecodecs  
imageio  
imagesize   
imbalanced-learn==0.8.1
imblearn==0.0
importlib-metadata  
incremental==17.5.0
inexactsearch==1.0.2
inflection==0.5.1
iniconfig  
intervaltree  
ipykernel  
ipython  
ipython-genutils  
ipywidgets  
isort  
itemadapter  
itemloaders  
itsdangerous  
jdcal  
jedi  
Jinja2  
jinja2-time 
jmespath  
joblib  
json5  
jsonschema  
jupyter==1.0.0
jupyter-client  
jupyter-console  
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions  
jupyter-core  
jupyter-highlight-selected-word  
jupyter-latex-envs  
jupyter-nbextensions-configurator  
jupyter-server  
jupyterlab  
jupyterlab-pygments  
jupyterlab-server  
jupyterlab-widgets  
keras==2.7.0
Keras-Applications  
Keras-Preprocessing==1.1.2
keybert==0.5.0
keyring  
kiwisolver  
lazy-object-proxy  
libarchive-c  
libclang==12.0.0
llvmlite==0.36.0
locket==0.2.1
lxml  
Markdown  
MarkupSafe==1.1.1
matplotlib  
matplotlib-inline  
mccabe==0.6.1  
milksnake==0.1.5
mistune==0.8.4
mkl-fft==1.3.1
mkl-random  
mkl-service==2.4.0
mock  
more-itertools  
mpmath==1.2.1
msgpack  
multidict  
multipledispatch==0.6.0
munkres==1.1.4
murmurhash  
mypy-extensions==0.4.3
mysql-connector-python==8.0.28
nbclassic  
nbclient  
nbconvert  
nbformat  
nest-asyncio  
networkx  
nltk==3.6.5
nose  
notebook 
numba==0.53.0
numexpr  
numpy
numpydoc  
oauthlib  
olefile  
openpyxl  
opt-einsum  
packaging  
pandas  
pandocfilters  
paramiko  
parsel  
parso==0.7.0
partd  
path  
pathlib2  
pathspec==0.7.0
pathtools  
pathy  
patsy==0.5.2
pep8==1.7.1
pexpect  
pickleshare  
Pillow==8.4.0
pkginfo==1.7.1
pluggy  
ply==3.11
poyo  
preshed  
prometheus-client  
prompt-toolkit  
Protego  
protobuf==3.17.2
psutil  
ptyprocess  
py  
pyasn1  
pyasn1-modules==0.2.8
pycodestyle  
pycosat==0.6.3
pycparser  
pydantic  
PyDispatcher==2.0.5
pydocstyle  
pydot  
pydotplus  
pyerfa  
pyflakes  
Pygments  
PyHamcrest  
PyJWT  
pylint  
pyls-black  
pyls-spyder  
PyNaCl  
pyodbc
pyOpenSSL  
pyparsing  
PyPDF2==1.26.0
pyreadline==2.1
pyrsistent  
PySocks  
pyspellchecker==0.6.3
pytest==6.2.4
pytest-runner  
python-dateutil  
python-jsonrpc-server  
python-language-server  
python-slugify  
pytz==2021.3
PyWavelets  
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==6.0
pyzmq  
QDarkStyle  
qstylizer  
QtAwesome  
qtconsole  
QtPy  
queuelib==1.5.0
regex  
requests  
requests-oauthlib==1.3.0
rich==10.12.0
rope  
rsa  
Rtree    
sacremoses==0.0.46
scikit-image==0.18.3
scikit-learn  
scikit-learn-intelex
scipy==1.4.1
Scrapy  
seaborn  
segmentation-models==1.0.1
selenium  
Send2Trash  
sentence-transformers==2.1.0
sentencepiece==0.1.96
service-identity  
shellingham  
silpa-common==0.3
simplegeneric==0.8.1
singledispatch  
sip
six==1.15.0
smart-open  
sniffio  
snowballstemmer  
sortedcollections  
sortedcontainers  
soundex==1.1.3
soupsieve  
spacy  
spacy-legacy  
spacytextblob==3.0.1
spellchecker==0.4
Sphinx==4.2.0
sphinxcontrib-applehelp   
sphinxcontrib-devhelp   
sphinxcontrib-htmlhelp  
sphinxcontrib-jsmath   
sphinxcontrib-qthelp   
sphinxcontrib-serializinghtml  
sphinxcontrib-websupport 
spyder 
spyder-kernels 
SQLAlchemy 
srsly 
statsmodels==0.13.0
sympy 
tables==3.6.1
tblib 
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.22.0
termcolor==1.1.0
terminado==0.9.4
testpath 
text-unidecode 
textblob==0.15.3
textdistance 
thinc 
threadpoolctl 
three-merge 
tifffile 
tinycss 
tokenizers==0.10.3
toml 
toolz 
torch==1.10.0
torchvision==0.11.1
tornado 
tqdm 
traitlets 
transformers==4.11.3
Twisted 
twisted-iocpsupport 
typed-ast 
typer 
typing-extensions==3.7.4.3
ujson 
unicode==2.8
unicodecsv==0.14.1
Unidecode 
urllib3==1.26.7
urlquote==1.1.4
w3lib 
wasabi 
watchdog 
wcwidth 
webencodings==0.5.1
websocket-client==0.59.0
Werkzeug 
whichcraft 
widgetsnbextension==3.5.1
win-inet-pton 
win-unicode-console==0.5
wincertstore==0.2
wordsegment==1.3.1
wrapt==1.12.1
xlrd 
XlsxWriter 
xlwings==0.24.9
xlwt==1.3.0
xmltodict
yapf 
yarl 
zict==2.0.0
zipp 
zope.event==4.5.0
zope.interface